<div class="profile-container" *ngIf="!loading && profile">

  <!-- Header -->
  <div class="profile-header">
   

    <div class="profile-info">
      <h2>{{ profile.fullName }}</h2>
      <p class="location">
        📍 {{ profile.governorateName }} - {{ profile.cityName }}
      </p>

      <span
        class="badge"
        [class.verified]="profile.isVerified"
        [class.not-verified]="!profile.isVerified"
      >
        {{ profile.isVerified ? 'موثّق' : 'غير موثّق' }}
      </span>
    </div>
  </div>

  <!-- Body -->
  <div class="profile-body">

    <div class="info-row">
      <span>📞 رقم الهاتف</span>
      <strong>{{ profile.phone }}</strong>
    </div>

    <div class="info-row">
      <span>🛠️ سنوات الخبرة</span>
      <strong>{{ profile.experienceYears }} سنة</strong>
    </div>

    <div class="info-row">
      <span>💰 نطاق السعر</span>
      <strong>
        {{ profile.minPrice }} - {{ profile.maxPrice }} جنيه
      </strong>
    </div>

    <div class="bio">
      <h4>نبذة عني</h4>
      <p>{{ profile.bio }}</p>
    </div>

  </div>
</div>

<!-- Loading -->
<div class="loading" *ngIf="loading">
  Loading profile...
</div>
