<div class="container py-5" dir="rtl">
  <div class="card shadow border-0">
    <div class="card-body">
      <h2 class="fw-bold mb-3">الشروط والأحكام</h2>

      <p>
        باستخدامك لمنصتنا فأنت توافق على الشروط التالية لضمان أفضل تجربة استخدام.
      </p>

      <h5 class="fw-bold mt-4">استخدام المنصة</h5>
      <p>
        يمنع استخدام المنصة لأي نشاط  مخالف .
      </p>

      <h5 class="fw-bold mt-4">المسؤولية</h5>
      <p>
        المنصة تعمل كوسيط ولا تتحمل الاتفاقات خارج النظام.
      </p>
    </div>
  </div>
</div>
